.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}
	i {
			font-size: 1.5rem;
			padding-right: 0.1rem;
			color: #b0c4de;
		}
		.filled {
			color: #1e90ff;
		}
		.low {
			color: #deb0b0;
		}
		.filled.low {
			color: #ff1e1e;
		}
.container{
background: whitesmoke;
}
#Col1{
background: rgb(91, 91, 221) ;
}
