<!-- <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">todo</th>
      <th scope="col">completed</th>
      <th scope="col">userid</th>
    </tr>
  </thead>
  <tbody *ngFor="let lists of list; let i = index">
    <tr>
      <th scope="row">{{ lists?.id }}</th>
      <td>{{ lists?.todo }}</td>
      <td>{{ lists?.completed }}</td>
      <td>{{ lists?.userid }}</td>
    </tr>
  </tbody>
</table> -->


<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Serial No</th>
			<th scope="col">Id</th>
			<th scope="col">Employee-Name</th>
			<th scope="col">Task</th>
      <th scope="col">Assign Date</th>
      <th scope="col">Target-Date</th>
      <th scope="col">Completed</th>
      <th scope="col">Pending</th>

		</tr>
	</thead>
	<tbody>
		@for (lists of employee; track lists.name; let i = $index) {
			<tr>
				<th scope="row">{{ i + 1 }}</th>
				<td>{{ lists.id }}</td>
				<td>{{ lists.name }}</td>
				<td>{{ lists.task}}</td>
        <td>{{lists.assigndate}}</td>
        <td>{{lists.targetdate}}</td>
        <td>{{lists.completed}}</td>
        <td>{{lists.pending}}</td>
			</tr>
		}
	</tbody>
</table>
